@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


$color-gray:#c0b9b9;


body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }

h1{
     font-family: Acme;
}

a {
    text-decoration: none;
    color: inherit;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

