@media screen and (min-width: 414px ) and (max-width:736px)  {

.header {
    padding: 0;

    &__titre {
        width: 20%;
        margin-left: 40%;
    }

    &__contenant {
        display: none;
    }
}
.btnlien {
    padding: 1rem 0 1rem 0;
}

.content{
    padding-bottom: 1rem;
}

.presentation__image{
    width: 100%;
}

.moi {
    padding: 0;

    &__texte {
        padding-top: 2rem;
        margin: 0;
    }
}

.cartes {
    margin-left: 1rem;
    margin-top: 7rem;
}

.parcours {
    margin-top: 7rem;
    padding: 5rem 5rem 5rem 1rem;

    &__contenant {
        width: 97%;
    }

    &__apropotexte {
        text-align: justify;
        font-size: 17px;
        margin-bottom: 3rem; 
    }
}
}

@media screen and (min-width: 375px ) and (max-width:667px)  {

    .header {
        padding: 0;
    
        &__titre {
            width: 20%;
            margin-left: 40%;
        }
    
        &__contenant {
            display: none;
        }
    }

    .btnlien {
        padding: 1rem 0 1rem 0;
    }
    
    .content{
        padding-bottom: 1rem;
    }
    
    .presentation__image{
        width: 100%;
    }
    
    .moi {
        padding: 0;
    
        &__texte {
            padding: 2rem;
            margin: 0;
        }
    }
    
    .cartes {
       
        margin-top: 7rem;
    }
    
    .parcours {
        margin-top: 7rem;
        padding: 2rem 2rem 5rem 1rem;
        height: 92rem;
        
    
        &__contenant {
            width: 85%;
        }

        &__apropo {
            margin-left: 1.5rem;
        }

        &__apropomarge {
            margin: 0;
        }

        &__apropotexte {
            text-align: justify;
            font-size: 17px;
            margin-bottom: 3rem; 
            margin-left: 1.5rem;
        }
    }

    .pong-loader {
        margin-top: 6rem !important;
        margin-bottom: 6rem !important;
    }
    }

@media screen and (min-width: 768px ) and (max-width:1024px) {
.cartes {
    margin-left: 20rem;
    margin-top: 10rem;
}

.moi {
    padding: 1rem 5rem 1rem 5rem;
}

.parcours__apropomarge {
    margin-left: 5rem;
  }

.parcours__contenant{
    width: 90%;
}

.header {
    padding: 1rem 3rem 1rem 3rem;
}

.parcours__apropotexte {
    text-align: justify;
}
}

@media screen and (min-width: 1024px) {
    .parcours {
        background-color: #7c8cc2;
        height: 45rem;
        display: flex;
        padding: 5rem 13rem 0rem 10rem;
    }
}